/*
CSS VARIABLES AKA Custom Properties
hold a value and reuse it
--varname:value
property:var(--varName)
scope
:root{ } === global
element === local
any property

.headig{
    color: #e65830;
}

.text{
    color:#32ff0e
}
.main-text{
    color: #1313fa;
}
.second-heading{
    color: #f15025;
}*/

:root {
    --primaryColor: #f15025;
    --secondaryColor: #7d25f1;
    --mainTransition: all 0.4s linear;
}

.heading {
    color: var(--primaryColor);
}

.second-heading {
    color: var(--primaryColor);
}

.second-heading:hover {
    color: var(--secondaryColor);
}

div{
    --primaryRed: red;
}
.main-text{
    color: var(--primaryRed);
}